.cards {
    --grid--column-gap: var(--space--responsive--m);
    --grid--row-gap: var(--grid--column-gap);
    --cards--min-width: #{rem(230)};

    $this: &;

    @include layout-margin;

    &__inner {
        @include align-width--l(false);
    }

    &__header {
        @include no-first-last-margin;

        margin-bottom: var(--block--header--margin-bottom);
        text-align: var(--block--header--alignment);
    }

    &__heading {
        @include align-width--xxs(false);
    }

    &__subheading {
        @include no-first-last-margin;
        @include align-width--xxs(false);

        margin: var(--space--base) auto;
    }

    &__items {
        @include flex-grid;

        justify-content: center;
    }

    &__footer {
        @include no-first-last-margin;

        margin-top: var(--block--footer--margin-top);
    }

    &__more-link {
        justify-self: center;
        text-align: center;
    }

    &:not(.alignfull) {
        @include rounded-corners;

        overflow: visible;
    }

    &.alignfull {
        #{$this}__inner {
            @include align-width--l;
        }
    }

    &.has-background {
        #{$this}__inner {
            padding-top: var(--block--padding-y);
            padding-bottom: var(--block--padding-y);
        }

        &:not(.alignfull) {
            padding-right: var(--block--padding-x);
            padding-left: var(--block--padding-x);
        }
    }

    &[class*='cards--columns-'] {
        #{$this}__items {
            grid-template-columns: repeat(var(--grid--columns), minmax(0, 1fr));
        }
    }

    &--columns-4 {
        @include mq(medium) {
            --grid--columns: 2;
        }

        @include mq(xlarge) {
            --grid--columns: 4;
        }
    }

    &--columns-3 {
        @include mq(medium) {
            --grid--columns: 3;
        }
    }

    &--columns-2 {
        @include mq(medium) {
            --grid--columns: 2;
        }

        #{$this}__inner {
            @include align-width--m(false);
        }
    }

    &--columns-1 {
        --grid--columns: 1;

        #{$this}__inner {
            @include align-width--m(false);
        }
    }

    &--slider-on-mobile {
        @include mq($until: large) {
            --animate--translateY: 0;

            #{$this}__items {
                position: relative;
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                padding-bottom: var(--space--xs);
                margin-right: calc(-1 * var(--space--container-padding));
                margin-bottom: calc(var(--space--xs) * -1);
                margin-left: calc(-1 * var(--space--container-padding));
                column-gap: 0;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                will-change: transform;

                &::before,
                &::after {
                    display: block;
                    overflow: hidden;
                    height: 1px;
                    flex: 0 0 var(--space--container-padding);
                    content: '';
                    opacity: 0;
                    pointer-events: none;
                }
            }

            .g-card {
                min-width: var(--cards--min-width);
                min-height: 100%;
                flex: 0 0 80%;
                margin-top: 0;
                margin-right: var(--grid--column-gap);
                scroll-snap-align: center;

                @include mq(small) {
                    flex-basis: 37%;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &--type--icons {
        @include mq(large) {
            --grid--column-gap: var(--space--responsive--l);
        }
    }
}
