@import './styles/header-menu';

$site-header--bottom--background: 'brand-1';
$site-header--top--background: 'white';

:root {
    --site-header--bottom: auto;
}

.site-header {
    --site-header--height: #{rem(70)};
    --site-header--logo-width: #{rem(120)};
    --site-header--menu--duration: 250ms;
    --site-header--menu--ease: ease-in-out;

    --site-header--spacing: var(--space--m);

    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);

    $this: &;

    z-index: var(--z-index--site-header);
    width: 100%;
    height: var(--site-header--height);
    background-color: var(--color--#{$site-header--bottom--background});
    transition: height var(--site-header--menu--duration) var(--site-header--menu--duration);

    @include mq(small) {
        --site-header--spacing: var(--space--m);
    }

    @include mq('site-header') {
        --site-header--logo-width: #{rem(170)};
        --site-header--height: #{rem(74)};

        background-color: transparent;
    }

    @include mq($until: 'site-header') {
        &--positioned {
            position: absolute;

            ~ .main {
                margin-top: calc(var(--site-header--bottom));
            }
        }

        &.is-open {
            position: fixed;
            height: calc(100% - var(--wp--admin-bar-height));
            transition: height var(--site-header--menu--duration) 0s;
        }
    }

    &__inner {
        position: relative;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: min-content auto;

        @include mq('site-header') {
            @include align-width--l;

            gap: var(--site-header--spacing);
            grid-auto-flow: column;
            grid-template-rows: unset;
        }
    }

    &__top {
        display: grid;
        height: var(--site-header--height);
        align-items: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        background-color: var(--color--#{$site-header--top--background});
        gap: var(--site-header--spacing);
        grid-auto-flow: column;
        grid-template-columns: minmax(min-content, var(--site-header--logo-width)) auto;
        justify-items: flex-end;

        @include mq('site-header') {
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
        }
    }

    &__bottom {
        display: grid;
        justify-content: center;
        gap: var(--site-header--spacing);
        grid-auto-rows: min-content;
        grid-template-rows: auto;

        @include mq($until: 'site-header') {
            --link--color: var(--color--foreground);
            --link--color--hover: var(--color--foreground);

            @include color-context($site-header--bottom--background);

            overflow: auto;
            width: 100%;
            background: transparent;
            grid-auto-flow: row;
            opacity: 0;
            pointer-events: none;
            transition: all var(--site-header--menu--duration) var(--site-header--menu--ease);
            visibility: hidden;

            .site-header.is-open & {
                opacity: 1;
                pointer-events: all;
                transition: all var(--site-header--menu--duration) var(--site-header--menu--ease) var(--site-header--menu--duration);
                visibility: visible;
            }

            > *:first-child {
                margin-top: var(--site-header--spacing);
            }

            > *:last-child {
                padding-bottom: var(--site-header--spacing);
            }
        }

        @include mq('site-header') {
            width: auto;
            align-items: center;
            justify-content: flex-end;
            grid-auto-flow: column;
        }
    }

    &__burger {
        --burger--color: var(--color--brand-1);
        --burger--background-color: var(--color--brand-2);
        --burger--border-color: var(--color--brand-2);
        --burger--color--hover: var(--color--brand-2);
        --burger--background-color--hover: var(--color--brand-1);
        --burger--border-color--hover: var(--color--brand-1);

        margin-right: calc(var(--burger--padding) * -0.5);

        @include mq('site-header') {
            display: none;
        }
    }

    &__logo {
        display: flex;
        width: 100%;
        height: 100%;
        max-height: calc(100% - var(--space--xs));

        > * {
            object-fit: contain;
            object-position: left center;
        }
    }

    &__widgets {
        display: flex;
        justify-content: center;
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);
        margin-top: auto;

        @include mq('site-header') {
            display: flex;
            height: 100%;
            flex-flow: row nowrap;
            align-items: center;
            padding-right: 0;
            padding-left: 0;
            margin: 0;
        }
    }

    .header-search {
        padding-right: var(--space--container-padding);
        padding-left: var(--space--container-padding);

        @include mq('site-header') {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
