.header-search {
    --header-search--icon-size: 1em;

    $this: &;

    &__inner {
        @include input;
        @include input--button-height;

        display: grid;
        max-width: 14em;
        align-items: center;
        padding-right: calc(var(--input--padding-x) - (var(--header-search--icon-size) / 2));
        margin: 0 auto;
        background-color: var(--color--background);
        grid-template-areas: 'input icons';
        grid-template-columns: auto calc(var(--header-search--icon-size) + 5px);
        justify-items: center;

        &:focus-within {
            #{$this}__label {
                opacity: 0;
                pointer-events: none;
                visibility: hidden;
            }

            #{$this}__submit {
                position: relative;
                opacity: 1;
                pointer-events: all;
                visibility: visible;
            }
        }
    }

    &__submit {
        @include button-reset-hard;
        @include button--icon;

        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        color: var(--color--foreground);
        cursor: pointer;
        grid-area: icons;
        pointer-events: none;

        &:focus {
            @include focus--2;
        }

        &::after {
            mask-image: url(#{asset-path('images/icons/search.svg')});
            mask-size: var(--header-search--icon-size);
        }
    }

    &__input {
        --input--background-color: transparent;

        padding: 0;
        border: 0;
        border-radius: 0;

        @include interact {
            box-shadow: unset;
        }
    }
}
