@mixin link {
    color: var(--link--color);
    text-decoration: var(--link--text-decoration);

    @include interact {
        color: var(--link--color--hover);
        text-decoration: var(--link--text-decoration--hover);
    }
}

@mixin link--2 {
    --link--text-decoration: none;
    --link--text-decoration--hover: underline;
}

@mixin link--foreground {
    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);
}

@mixin link--multiline-background {
    background: transparent;
    background-image: linear-gradient(120deg , var(--color--brand-2) 0, var(--color--brand-2) 100%);
    background-position: 0 88%;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    color: var(--link--color);
    text-decoration: none;
    transition: transition(color);
    transition: color var(--transition--duration) var(--transition--ease), background-size 0.25s ease-in;

    @include interact {
        background-size: 100% 88%;
        color: var(--link--color--hover);
        text-decoration: none;
    }
}
