@mixin tooltip {
    --tooltip--arrow--inset: var(--space--s);
    --tooltip--arrow--size: #{rem(7)};

    @include typestyle-small;
    @include color-context('error');

    position: relative;
    display: inline-block;
    max-width: var(--width--xxs);
    padding: var(--tooltip--padding-y, 0.5em) var(--tooltip--padding-x, 1em);
    margin-top: calc(var(--tooltip--arrow--size) + #{rem(3px)});
    margin-left: var(--tooltip--left, 0.5em);
    border-radius: var(--border-radius--s);

    // A little arrow at the top
    &::before {
        position: absolute;
        bottom: 100%;
        left: var(--tooltip--arrow--inset, var(--tooltip--padding));
        width: 0;
        height: 0;
        border-right: calc(var(--tooltip--arrow--size) / 1.2) solid transparent;
        border-bottom: calc(var(--tooltip--arrow--size)) solid var(--color--background);
        border-left: calc(var(--tooltip--arrow--size) / 1.2) solid transparent;
        content: '';
    }
}
