.wp-block-gallery {
    --gallery--grid-columns: 1;

    @include layout-margin;
    @include media-embed;

    .blocks-gallery-grid {
        --grid--columns: var(--gallery--grid-columns);

        @include flex-grid;

        .blocks-gallery-item {
            @include flex-grid-item;

            margin-right: 0;
            margin-bottom: 0;
        }
    }

    &.columns-1 {
        --gallery--grid-columns: 1;
    }

    &.columns-2 {
        @include mq(small) {
            --gallery--grid-columns: 2;
        }
    }

    &.columns-3 {
        @include mq(medium) {
            --gallery--grid-columns: 3;
        }
    }

    &.columns-4 {
        @include mq(medium) {
            --gallery--grid-columns: 2;
        }

        @include mq(large) {
            --gallery--grid-columns: 4;
        }
    }

    &.columns-5 {
        @include mq(medium) {
            --gallery--grid-columns: 2;
        }

        @include mq(large) {
            --gallery--grid-columns: 5;
        }
    }

    &.columns-6 {
        @include mq(medium) {
            --gallery--grid-columns: 3;
        }

        @include mq(large) {
            --gallery--grid-columns: 6;
        }
    }

    &.columns-7 {
        @include mq(medium) {
            --gallery--grid-columns: 3;
        }

        @include mq(large) {
            --gallery--grid-columns: 7;
        }
    }

    &.columns-8 {
        @include mq(medium) {
            --gallery--grid-columns: 4;
        }

        @include mq(large) {
            --gallery--grid-columns: 8;
        }
    }

    .blocks-gallery-item {
        position: relative;

        figcaption {
            @include typestyle-small;
        }
    }

    // Addresses a height issue when using code that modifies the output from
    // WordPress to contain extra markup. Used in webp implementations mostly.
    picture {
        width: 100%;
        height: 100%;
    }

    img {
        @include box-shadow;
        @include rounded-corners;
    }

    figcaption {
        max-width: unset;
    }
}
