.wp-block-cover {
    --cover--padding-y: var(--block--padding-y);
    --cover--padding-x: var(--space--responsive--m);

    $this: &;

    @include no-first-last-margin;
    @include layout-margin;

    min-height: unset;
    padding: 0;

    &__inner-container {
        @include no-first-last-margin;

        max-width: var(--width--s);
        padding: var(--cover--padding-y) var(--cover--padding-x);
        margin-right: auto;
        margin-left: auto;
    }

    &.alignfull,
    &.alignwide {
        #{$this}__inner-container {
            padding: var(--space--responsive--xl) var(--block--padding-x);
        }
    }

    &:not(.alignfull) {
        @include rounded-corners;

        // img {
        //     @include rounded-corners;
        //     @include box-shadow;
        // }
    }
}
