.wp-block-cover {
    --cover--padding-y: var(--block--padding-y);
    --cover--padding-x: var(--space--responsive--m);

    $this: &;

    @include no-first-last-margin;
    @include layout-margin;

    min-height: unset;
    padding: 0;

    &__inner-container {
        @include no-first-last-margin;

        max-width: var(--width--s);
        padding: var(--cover--padding-y) var(--cover--padding-x);
        margin-right: auto;
        margin-left: auto;
    }

    .wp-block-cover__inner-container {
        color: var(--color--foreground);
    }

    &__background {
        &.has-background-dim {
            ~ .wp-block-cover__inner-container {
                @include color-context('black');

                background: transparent;
            }
        }
    }

    &.alignfull,
    &.alignwide {
        #{$this}__inner-container {
            padding: var(--space--responsive--xl) var(--block--padding-x);
        }
    }

    &:not(.alignfull) {
        @include rounded-corners;

        // img {
        //     @include rounded-corners;
        //     @include box-shadow;
        // }
    }

    &--fancy-text {
        h2 {
            @include typestyle-hero;

            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-image: linear-gradient(55deg,#92a6b5,var(--color--brand-1));
        }
    }
}
