@use 'sass:color';

// ---------------------------------------------------
// Colors
// ---------------------------------------------------
// Gutenberg color palette colors also need to be set in granola/config.php

$colors: (
    'base': (
        'lightgreen': (
            'color': #9cd1ae,
        ),
        'darkgreen': (
            'color': #4aa183,
            'foreground': var(--color--mouldbluedark),
            'properties': (
                '--link--color': var(--color--mouldbluedark),
                '--link--color--hover': var(--color--mouldbluedark),
            ),
        ),
        'blue': (
            'color': #0047af,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'pink': (
            'color': #f35178,
            'foreground': var(--color--black),
            'properties': (
                '--link--color': var(--color--black),
                '--link--color--hover': var(--color--black),
            ),
        ),
        'yellow': (
            'color': #f4be44,
        ),
        'lightblue': (
            'color': #87d1d5,
        ),
        'mouldblue': (
            'color': #3d5d66,
            'foreground': var(--color--lightgreen),
            'properties': (
                '--link--color': var(--color--lightgreen),
                '--link--color--hover': var(--color--lightgreen),
            ),
        ),
        'mouldbluedark': (
            'color': #304a51,
            'foreground': var(--color--lightgreen),
            'properties': (
                '--link--color': var(--color--lightgreen),
                '--link--color--hover': var(--color--lightgreen),
            ),
        ),
        'red': (
            'color': #b6435d,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'white': (
            'color': #fff,
            'foreground': var(--color--brand-1),
        ),
        'blackolive': (
            'color': #3a3938,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'black': (
            'color': #050404,
            'foreground': var(--color--white),
            'properties': (
                '--link--color': var(--color--white),
                '--link--color--hover': var(--color--white),
            ),
        ),
        'grey': (
            'color': #f5f5f5,
            'foreground': var(--color--blackolive),
        ),
        'brand-1': (
            'namedColor': 'pink',
        ),
        'brand-2': (
            'namedColor': 'darkgreen',
        ),
        'brand-3': (
            'namedColor': 'mouldblue',
        ),
        'brand-4': (
            'namedColor': 'grey',
        ),
        'brand-5': (
            'namedColor': 'lightgreen',
        ),
        'foreground': (
            'namedColor': 'mouldblue',
        ),
        'background': (
            'namedColor': 'mouldbluedark',
        ),
        'style-guide': (
            'color': #d4444d,
        ),
        'error': (
            'namedColor': 'red',
        )
    ),
    // Define alternative themes here
    //
    // 'darkmode': (
    //     'brand-1': (
    //         'color': #0047af,
    //     ),
    //     'brand-2': (
    //         'color': #f6cbda,
    //     ),
    //     'brand-3': (
    //         'color': #f4be44,
    //     ),
    //     'foreground': (
    //         'color': #fff,
    //     ),
    //     'background': (
    //         'color': #222,
    //     ),
    // )
);

// Output colors at :root or under theme classes.
// Color custom properties look like this: --color--brand-1
@mixin color-variables {
    @each $theme, $colormaps in $colors {
        $theme-name: nth($theme, 1);
        $selector: '.theme--#{$theme}';

        @if $theme == 'base' {
            $selector: '&';
        }

        #{$selector} {
            @each $colorname, $colormap in $colormaps {
                $propname: '--color--#{$colorname}';

                $value: color($colorname, $theme);

                #{$propname}: #{$value};
                #{$propname}--hsl: #{hsl-from-hex($value)};

                #{$propname}--h: #{color.hue($value)};
                #{$propname}--s: #{color.saturation($value)};
                #{$propname}--l: #{color.lightness($value)};
            }
        }
    }
}
