// Define our font-face stacks here.
// Included in /elements/fonts
@mixin font-variables {
    @include system-fonts;

    @font-face {
        font-display: swap;
        font-family: 'yuck-syncopate';
        font-style: normal;
        font-weight: 200;
        src: url('./static/Syncopate-Regular.ttf');
    }

    @font-face {
        font-display: swap;
        font-family: 'yuck-syncopate';
        font-style: normal;
        font-weight: 400;
        src: url('./static/Syncopate-Bold.ttf');
    }

    @font-face {
        font-display: swap;
        font-family: 'yuck-inter';
        font-style: normal;
        font-weight: 200;
        src: url('./static/Inter-Light.ttf');
    }

    @font-face {
        font-display: swap;
        font-family: 'yuck-inter';
        font-style: normal;
        font-weight: 400;
        src: url('./static/Inter-SemiBold.ttf');
    }

    @font-face {
        font-display: swap;
        font-family: 'yuck-inter';
        font-style: normal;
        font-weight: 700;
        src: url('./static/Inter-Black.ttf');
    }
}
