// Define our font-face stacks here.
// Included in /elements/fonts
@mixin font-variables {
    @include system-fonts;

    @font-face {
        font-display: swap;
        font-family: 'Syncopate';
        font-style: normal;
        font-weight: normal;
        src: url('./static/subset-Syncopate-Regular.woff2') format('woff2');
    }

    @font-face {
        font-display: swap;
        font-family: 'Syncopate';
        font-style: normal;
        font-weight: bold;
        src: url('./static/subset-Syncopate-Bold.woff2') format('woff2');
    }
}
