// ---------------------------------------------------
// Type Variables
// ---------------------------------------------------

$type-min-width: 320px;
$type-max-width: 1200px;

$base-font-size: 16px;

@mixin type-variables {
    --type--font-size--base: $base-font-size;
    --type--font-size--small: #{rfs(14, 14.5)};

    --type--1--font-family: 'system-ui', sans-serif;
    --type--1--font-weight: 400;
    --type--1--font-weight--bold: 700;
    --type--1--line-height: 1.5;

    --type--2--font-family: 'Lora', serif;
    --type--2--color: inherit;
    --type--2--font-weight: 400;
    --type--2--line-height: 1.3;

    --heading--margin-top: calc(var(--type--1--line-height) * 1em);
    --heading--margin-bottom: var(--space--base);

    // Fluidly responsive type sizes
    --fluid-min-width: #{strip-unit($type-min-width)};
    --fluid-max-width: #{strip-unit($type-max-width)};

    --fluid-screen: 100vw;
    --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));

    @media screen and (min-width: #{$type-max-width}) {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }

    // ---------------------------------------------------
    // Links
    // ---------------------------------------------------
    --link--color: var(--color--brand-5);
    --link--color--hover: var(--color--brand-5);
    --link--text-decoration: underline;
    --link--text-decoration--hover: underline;

    // ---------------------------------------------------
    // Lists
    // ---------------------------------------------------
    --list--item--spacing: calc(var(--space--base) / 2);
    --list--indent: 0px;
    --list--nested-indent: 1.5em;
    // --list--marker-color: var(--color--brand-2); // defaults to currentColor

    @include mq(small) {
        --list--indent: 1.5em;
        --list--nested-indent: 2em;
    }
}
