ol,
ul {
    padding-left: calc(1.1em + var(--list--indent));
    list-style-position: outside;

    li {
        &::marker {
            color: var(--list--marker-color, currentColor);
        }
    }
}

li {
    + li {
        margin-top: var(--list--item--spacing);
    }

    ol,
    ul {
        padding-left: var(--list--nested-indent);
        margin-top: var(--list--item--spacing);
        margin-bottom: var(--list--item--spacing);
    }
}
