// ----------------------------------------------
// Standard element margins
// Possibly need to expand this to include more things
// ----------------------------------------------
@include heading-selectors {
    margin-top: 0;
    margin-bottom: var(--heading--margin-bottom);

    * + & {
        margin-top: var(--heading--margin-top);
    }
}

h1 {
    @include typestyle-h1;
}

h2 {
    @include typestyle-h2;
}

h3 {
    @include typestyle-h3;
}

h4 {
    @include typestyle-h4;
}

h5 {
    @include typestyle-h5;
}

h6 {
    @include typestyle-h6;
}

p,
ul,
ol,
table,
iframe,
embed,
hr,
address,
pre,
dl,
fieldset {
    margin-top: var(--space--base);
    margin-bottom: var(--space--base);
}

dd {
    margin-left: 0;

    + dt {
        margin-top: var(--list--item--spacing);
    }
}

dt {
    font-weight: var(--type--1--font-weight--bold);
}

small {
    font-size: var(--type--size---1);
}

strong,
b {
    font-weight: var(--type--1--font-weight--bold);
}

// Remove the gap between audio, canvas, iframes,
// images, videos and the bottom of their containers:
// https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

pre {
    // overflow: scroll;
    // overflow-wrap: break-word;
    // word-wrap: break-word;
    white-space: pre-wrap;
}
